/* body {
    background-image: URL('hangman6.gif');
    background-color: #cccccc;
} */

header {
    text-align: center;
    font: yellow;
    /* background-image: url(../images/babyshark.jpg); */
    background-color: #cccccc;
}
h1 {
    text-align: center;
    color: yellow;
    font-optical-sizing: true;
}
h2 {
    text-align: center;
    color: blue;
}
h3 {
    text-align: center;
    color: blue;
    font-optical-sizing: yes;
}
body {
    background-image: url(../images/hangman6.gif);
    background-position: fixed;
    card {
        text-align: center;
    }
    card-header {
        text-align: center;
    }
    card-body {
        text-align: center;
    }
    wrong-guesses {
        color: blue;
    }
    win-counter {
        text-align: center;
        color: blue;
    }
}
